<% provide(:title, 'Recognition') %>

<h1>Recent Recognition</h1>

<ol class="breadcrumb">
  <li><a href="#">Home</a></li>
  <li class="active">Recognition</li>
</ol>

<p>Would you like to <%= link_to("recognise somebody's efforts?", new_recognition_path) %></p>

<br/>

<div class="table-responsive">
  <table class="table">

    <thead>
      <th>Recognised</th>
      <th></th>
    </thead>

    
    <% @recognitions.each do |r| %>
    <tr>
      <td class="col-sm-2">
        <%= r.recognised.full_name %>

      </td>
      
      <td><%= r.content %></td>
    </tr>
    <% end %>
    
  </table>
</div>

<%= paginate @recognitions %>