<% provide(:title, 'Welcome') %>

<div class="hero">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h2>The number one communcation tool for your business</h2>
        <%= link_to "Try it now ››", registration_path, :class => "btn btn-primary btn-lg"%>
      </div>
      <div class="col-md-4">
        <img src="http://placekitten.com/200/300"/>
      </div>
    </div>
  </div>
</div>

<div class="features">
  <div class="container">

    <div class="row feature">
      <div class="col-md-6">
        <img src="http://placekitten.com/300/225"/>
      </div>
      <div class="col-md-6 info">
        <h3>Gather Feedback</h3>
        <p>Receive geniune annonymous feedback from your employees</p>
      </div>
    </div>

    <div class="row feature feature-left">
      <div class="col-md-6 img">
        <img src="http://placekitten.com/300/225"/>
      </div>
      <div class="col-md-6">
        <h3>Build knowledge</h3>
        <p>By recording and answering common questions your can build up your business's knowledgebase</p>
      </div>
    </div>

    <div class="row feature">
      <div class="col-md-6 img">
        <img src="http://placekitten.com/300/225"/>
      </div>
      <div class="col-md-6">
        <h3>To the moon!</h3>
        <p>Harness the best ideas of your employees to grow your business</p>
      </div>
    </div>

  </div>

</div>
