<% provide(:title, 'Pricing') %>
<br/>

<div class="container">
  <div class="row">
    <div class="jumbotron col-md-6 col-md-offset-3">
      <h2>It's all free ;)</h2>
    </div>

  </div>

</div>
